h1 {
	font-size: 36px;
	margin: 12px 12px 36px 12px;
}

input {
	outline: none;
}

.App {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 12px;
}

.AppResponse {
	margin-top: 36px;
}

.Button {
	background-color: teal;
	color: white;
	border: none;
	font-size: 18px;
	padding: 13px;
}

.Form {
	margin-top: 24vh;
	text-align: center;
}

.Input {
	background-color: transparent;
	border: 1px solid #424242;
	border-radius: 0px;
	font-size: 18px;
	outline: none;
	padding: 12px;
}
